BACKEND_CONTEXT=..
FRONTEND_CONTEXT=../../insu-web
BACKEND_ENV_FILE=../.env
BACKEND_PORT=3007
FRONTEND_PORT=3000
BACKEND_UPLOADS_DIR=../uploads

NEXT_PUBLIC_GRAPHQL_URL=https://insurance-ai.tech/graphql
NEXT_PUBLIC_SOCKET_URL=https://insurance-ai.tech
NEXT_PUBLIC_API_URL=https://insurance-ai.tech
NEXT_PUBLIC_SITE_URL=https://insurance-ai.tech
